body{
    background-color:gray;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh; 
    margin: 0;
}
*{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
}
h1{
    margin: 30px;
}

button{
    border: 0;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: darkgreen;
    padding: 10px 20px;
}

input{
    padding: 5px 20px;
    width: 200px;
     text-align: center;
}








